<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>City Management</title>
<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
<script language="javascript" src="/public/js/jquery.js"></script>
<script language="javascript" src="/public/js/gameMgtController.js"></script>
<script language="javascript" src="/public/js/cityMgtController.js"></script>
<script language="javascript" src="/public/js/jsonParseController.js"></script>
<script language="javascript" src="/public/js/common.js"></script>
</head>

<body>
<div class="wrapper">
  <div class="innerWrapper">
    <div class="listBox">
      <ul>
        <li><a href="#"><span class="countClass"></span> Gold</a></li>
      </ul>
    </div>
    <div class="cityContainer">
      <div class="cityListing">
        <ul>
          <li><img src="/public/images/townHall.gif" alt="" /><span>Town hall</span></li>
          <li><img src="/public/images/superMarket.gif" alt="" /><span>Super market</span></li>
          <li><img src="/public/images/restaurant.gif" alt="" /><span>Restaurant</span></li>
          <li><img src="/public/images/expo_center.gif" alt="" /><span>Expo center</span></li>
          <li><img src="/public/images/train_station.gif" alt="" /><span>Train station</span></li>
        </ul>
      </div>
      <a href="#" class="addCity">AddMoreCity</a> </div>
  </div>
</div>
</body>
</html>
