/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; margin: 0px; padding: 0px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* start editing from here */
a { text-decoration: none; }
.txt-rt { text-align: right; }/* text align right */
.txt-lt { text-align: left; }/* text align left */
.txt-center { text-align: center; }/* text align center */
.float-rt { float: right; }/* float right */
.float-lt { float: left; }/* float left */
.clear { clear: both; }/* clear float */
.pos-relative { position: relative; }/* Position Relative */
.pos-absolute { position: absolute; }/* Position Absolute */
.vertical-base { vertical-align: baseline; }/* vertical align baseline */
.vertical-top { vertical-align: top; }/* vertical align top */
nav.vertical ul li { display: block; }/* vertical menu */
nav.horizontal ul li { display: inline-block; }/* horizontal menu */
img { max-width: 100%; }
*{margin:0; padding:0}
/*end reset*/

/****-----start-body----****/
body { font-family:Arial, Helvetica, sans-serif; font-size:62.5% }
.wrapper{ width:995px; margin:0 auto;}
.innerWrapper{ width:100%; float:left; border:1px solid #F00; min-height:600px; height:auto !important; height:600px; position:relative; top:0}
.container{ width:500px; margin:0 auto; height:500px; border:1px solid #000; position:absolute; left:50%; top:50%; margin-left:-250px; margin-top:-250px}

.listBox{border:1px solid #999; margin:5px; padding:10px 35px 10px 10px; float:left}
.listBox ul li{ font-size:1.2em; padding-bottom:5px; position:relative}
.listBox ul li span{ padding:0 5px;}
.listBox ul li a{ color:#063; font-weight:bold}
.listBox ul li a:hover{ text-decoration:underline}
.listBox ul li a.bluetxt{ color:#337ab7}

.arrImg{position: absolute; right: -30px; bottom: -2px;}
.curActiveCity a{float:left; text-align:center; border-radius:45px; position:absolute; background:#063; width:70px; height:70px}
.curActiveCity a span{font-weight:bold; color:#fff; position:relative; top:28px;}

.ruralCity{ top: 75px; left: 150px;}
.ruralList{ position:absolute; left:-122px; top:0px; width:110px; background:#09C; border:1px solid #fff; border-radius:5px; padding:5px;}
.ruralList ul li{ padding:5px 0; text-align:left; font-size:1.1em; color:#fff}

.portCity{ top:120px; right:80px;}
.portList{ position:absolute; left:70px; top:0px; width:110px; background:#09C; border:1px solid #fff; border-radius:5px; padding:5px;}
.portList ul li{ padding:5px 0; text-align:left; font-size:1.1em; color:#fff}

.poorCity{ top: 220px; left: 50px;}
.poorList{ position:absolute; left:-122px; top:0px; width:110px; background:#09C; border:1px solid #fff; border-radius:5px; padding:5px;}
.poorList ul li{ padding:5px 0; text-align:left; font-size:1.1em; color:#fff}
.listCont{display:none}

.BlankCity{ display:none}
.BlankCity a{background:#337ab7; float:left; text-align:center; border-radius:45px; position:absolute; width:70px; height:70px;}
.BlankCity a span{font-weight:bold; color:#fff; position:relative; top:28px;}
.blkCity{ top: 245px; left: 200px}

.cityContainer{ width:800px; margin:0 auto; height:400px; border:1px solid #000; position:absolute; left:50%; top:50%; margin-left:-400px; margin-top:-250px}
.cityListing{ position:absolute; top:0}
.cityListing ul li{ float:left; padding:0 29px; position:relative; border:1px solid #999}
.cityListing ul li span{ position:absolute; bottom:0; left:0; text-align:center; display:block; font-size:1.3em; background:#000; color:#FFF; width:100%; padding:5px 0}
.cityListing ul li img{ margin-bottom:23px;}
.addCity{ position:absolute; font-size:1.5em; bottom:10px; left:15px}